<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Source Account" %>
    <% account_options = current_user.accounts.map { |a| [a.name, a.id] } %>

    <% if @account %>
      <% default_account_option = [@account.name, @account.id] %>
      <%= form.select(:account_id, options_for_select(account_options, default_account_option)) %>
    <% else %>
      <%= form.select(:account_id, options_for_select(account_options)) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label "Expense" %>
    <% expense_options = current_user.expenses.map { |a| [a.name, a.id] } %>

    <% if @expense %>
      <% default_expense_option = [@expense.name, @expense.id] %>
      <%= form.select(:expense_id, options_for_select(expense_options, default_expense_option)) %>
    <% else %>
      <%= form.select(:expense_id, options_for_select(expense_options)) %>
    <% end %>
  </div>

  <hr>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
