<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Vendor</th>
      <th>Account</th>
      <th>Expense</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% transactions.each do |transaction| %>
      <tr>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= transaction.posting_date %></td>
        <td><%= transaction.vendor %></td>
        <td>
          <% account = current_user.accounts.find(transaction.account_id) %>
          <%= link_to(account.name, account) %>
        </td>
        <td>
          <% expense = current_user.expenses.find(transaction.expense_id) %>
          <%= link_to(expense.name, expense) %>
        </td>
        <td><%= transaction.description %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
