<h2>New Savings Goal</h2>
<%= form_with scope: :savings_goal, url: savings_goals_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :target_date %><br>
    <%= form.text_field :target_date %>
  </p>

  <p>
    <%= form.label :strict_target_date %><br>
    <%= form.check_box :strict_target_date %>
  </p>

  <p>
    <%= form.label :target_amount %><br>
    <%= form.text_field :target_amount %>
  </p>

  <p>
    <%= form.label :current_amount %><br>
    <%= form.text_field :current_amount %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>